

body {
    background-color: #F7F3EB;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #616161;
}

.container-fluid {
    padding: 0;
}

header {
    
    height: auto;
    padding: 10px 0;
}


.navbar .nav-link {
    font-weight: 600;
    font-family: Laila, sans-serif; 
    color: #463933;
    text-transform: uppercase;
    font-size: 12px;
    
}

.logo h1 {
    margin: 0;
}

main {
    height: auto;
    background-color: #F7F3EB;
    width: 100%;
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #F7F3EB;
    color: rgb(252, 138, 31);
    padding: 10px 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

/* Media Queries */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
        
    }
    
}
