*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #F7F3EB;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #463933;
}

.container-fluid {
    padding: 3px;
}

header {
    height: auto;
    padding: 10px 0;
}

.orangeDots {
    list-style: disc;
    font-size: 20px;
    color: #ec9343;
}

.navbar .nav-link {
    font-weight: 600;
    font-family: Laila, sans-serif; 
    color: #463933;
    text-transform: uppercase;
    font-size: 12px;
}

.nav-link:hover {
    transition: color 0.3s ease;
    cursor: pointer;
    color: #ec9343;
}

.logo h1 {
    margin: 0;
}

main {
    position: relative;
    height: auto;
    background-color: #F7F3EB;
    width: 100%;
    padding: 20px;
    text-align: center;
}

footer {
    
    text-align: center;
    background-color: #F7F3EB;
    color: #666666;
    
}

.termsCondition:hover {
    transition: color 0.3s ease;
    cursor: pointer;
    color: #ec9343;
}

.privacyPolicy:hover {
    transition: color 0.3s ease;
    cursor: pointer;
    color: #ec9343;
}
.tracoForm{
    width: 0.5px;
    height: 80px;
    background-color: aliceblue;
    margin: 20px 0; 
}
.footerTraco {
    padding: 10px;
}


.img-container {
    position: relative;
    width: 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    margin-top: -20px;
}
.divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
    
    
}

.data-element {
    position: absolute;
    bottom: -40px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(236, 147, 67, 0.9);
    padding: 20px;
    border-radius: 15px;
    color: #fff;
    font-family: Laila, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    height: 15%;
    width: 90%; /* Adjust as needed */
    
}



/* Media Queries */
/** @media(max-width: 320px){
    .data-element {
        position: absolute;
        bottom: -450px !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        width: 100% !important;
        border-radius: 50px;
       
        
        
    }
    #dog2Img{
        transform: translateX(-25px);
        width: 350px;
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

**/
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
        
    }
   
   
    .data-element {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        
        
        background-color: rgba(236, 147, 67, 0.9);
        padding: 20px;
        border-radius: 15px;
        color: #fff;
        font-family: Laila, sans-serif;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        height: fit-content;
        width: 100%; /* Adjust as needed */
        
    }
    #dog1Img{
        
        border-radius: 0px;

    }
    
   main{
    padding: 0px;
   }
    
    .tracoForm{
        display: none;
    }
}

@media(min-width:769px){
    #dog2Img{
        display: none !important;
    }
    
}
@media(min-width:992px){
    #logoResp{
        display: none;
    }
}